{% extends 'base.html' %}
{% block title %}
    <TITLE>home</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
{% endblock %}
{% block content %}
    <div id="userid" style="visibility:hidden"></div>
    <div class="col-12 col-lg-12">
        <div class="featured-courses courses-wrap">
            <div class="row mx-m-25" id="courseDiv">
{#                {% load static %}#}
{#                <img src="{% static "images/teach.png" %}" alt="">#}
            </div><!-- .row -->
        </div><!-- .featured-courses -->
    </div><!-- .col -->



{% endblock %}